table.resizable-resource-table {
  tr {
    div {
      display: flex;
      overflow: hidden;
    }

    th,
    td {
      min-width: 20px;
      max-width: 280px;
    }

    span,
    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  th {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      z-index: 5;
      background-color: var(--50);
    }
    &:last-of-type {
      &::after {
        width: 0;
      }
      // >div {
      // display: none;
      // }
    }
  }
}
// vim: set ts=2 sts=-1 sw=0 et:
