table.resizable-resource-table {
  table-layout: fixed;

  tr {
    th, td {
      min-width: 30px;
    }
  }

  th {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      z-index: 5;
      background-color: var(--50);
    }
  }
}
